<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
<h2>ENTER THE TOURNAMENT</h2>
<form action="/login" method="post">
  <input type="hidden" name="gameDetails" value="<%= gameDetails %>">
    <label for="uname">ENTER YOUR GAME ID</label><br>
    <input type="text" name="uname" placeholder="jetInsider" required><br>
    <label for="age">ENTER YOUR AGE</label><br>
    <input type="text" name="age" placeholder="Minimum 16 is required" required><br>
    <nbsp></nbsp>
    <input type="submit" value="Submit">
</form>
</body>
</html>
