<!DOCTYPE html>
<html>
    <html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gaming Geeks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/userReg.css">
</head>

<body>


<% if(errormsg){ %>
  <div>
    <p> <%=errormsg%> </p>
  </div>
<%}%>
<div id="form">
  <h1>SIGN IN/SIGN UP</h1>
<form action="/userRegister" method="POST">
  <label for="email">E-mail:</label>
  <input type="text" id="email" name="email" ><br>
  <label for="pass">Password:</label>
  <input type="password" id="pass" name="pass"><br>
  <label for="phno">Phone Number:</label>
  <input type="text" id="phno" name="phno"><br><br>
  <input type="submit" id="button" value="Submit">
</form> 
</div>



</body>
</html>
