<!DOCTYPE html>
<html>
    <html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gaming Geeks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="">
</head>

<body>

<h2>HTML Forms</h2>

<form action="/userRegister" method="POST">
  <label for="email">E-mail:</label><br>
  <input type="text" id="email" name="email" ><br>
  <label for="pass">Password</label><br>
  <input type="text" id="pass" name="pass"><br><br>
  <input type="submit" value="Submit">
</form> 



</body>
</html>
